[submodule "rooutil"]
	path = rooutil
	url = git@github.com:sgnoohc/rooutil.git
	branch = master
[submodule "coreutil"]
	path = coreutil
	url = git@github.com:sgnoohc/coreutil.git
	branch = master
[submodule "ProjectMetis"]
	path = ProjectMetis
	url = git@github.com:aminnj/ProjectMetis.git
	branch = master
[submodule "CORE"]
	path = CORE
	url = git@github.com:cmstas/CORE.git
	branch = master
	ignore = dirty
